/* .vitepress/theme/style/link.css */
/* 建议使用 32*32 的尺寸 */
/* 哔哩哔哩 */
.vp-doc a[href^="https://www.bilibili.com/"]:before {
    content: '';
    background-image: url(/icons/bilibili.png);
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-size: cover;
    top: -2px;
    margin-right: 4px;
}

.vp-doc a[href^="https://www.zhihu.com/"]:before {
    content: '';
    background-image: url(/icons/zhihu.png);
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-size: cover;
    top: -2px;
    margin-right: 4px;
}